<button routerLink="./new" class="btn btn-primary">Create new Insurance</button>
<div class="input-wrapper">
  <span class="input-text">Search: </span>
  <input class="input-field" [formControl]="searchQueryControl" type="search">
  <button class="btn" (click)="filterPage()">Filter</button>
</div>
<table>
  <thead>
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
    @if (paginatedResponse) {
      @for (insurance of paginatedResponse.items; track insurance.id) {
        <tr>
          <td><a routerLink="./{{insurance.id}}">{{ insurance.name }}</a></td>
          <td>{{ insurance.description }}</td>
          <td><button (click)="openDeleteInsuranceDialog(insurance)"><i class="bi bi-trash"></i></button></td>
        </tr>
      } @empty {
        <tr>
          <td colspan="3">
            There are no items.
          </td>
        </tr>
      }
    } @else {
      <tr>
        <td colspan="3">
          There are no items.
        </td>
      </tr>
    }
  </tbody>
</table>

@if (paginatedResponse) {
  <app-pagination
    [currentPage]="currentPage"
    [totalItems]="paginatedResponse.totalItems"
    [itemsPerPage]="pageSize"
    (pageChanged)="onPageChanged($event)">
  </app-pagination>
}
